
/* -- GÉNÉRAL -------- */

:root {
    --container-w: 1200px;
    --white: #FFFFFF;
    --black: #2E3333;
    --dark-grey: #868a8a;
    --light-grey: #f3f5f5;
    --disabled: #bac3c3;
    --orange: #FF8001;
    --meals-cards-gap: 20px;
    --meals-col-gap: 30px;
}

body {
    color: var(--black);
    background-color: var(--light-grey);
}

.container {
    max-width: var(--container-w);
    margin: auto;
}

h1 {
    font-family: "Stratos Deliveroo Web", sans-serif;
    font-size: 32px;
}

h2 {
    font-family: "Stratos Deliveroo Web", sans-serif;
    font-size: 26px;
}

h3 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 20px;
}

p {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 16px;
    color: var(--dark-grey);
}

.price {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 16px;
    color: var(--dark-grey);  
}

.baseline {
    font-family: "IBM Plex Sans", sans-serif;
    color: var(--dark-grey);
    font-size: 19px;
    line-height: 30px;
}


/* -- NAV -------- */

header {
    background-color: var(--white);
}

.nav {
    height: 60px;
    border-bottom: 1px solid #e9ebeb;
}

.nav-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav-content img {
    height: 70%;
}

.restaurant {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 30px 0;
}

.restaurant .description {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.restaurant img {
    width: 350px;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: center bottom;
    flex-shrink: 0;
    border-radius: 5px;
}






.meals-cart {
    display: flex;
    padding: 40px 0;
    gap: var(--meals-col-gap)
}

.col-gauche {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.meal-category {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.meals-div {
    display: flex;
    flex-wrap: wrap;
    gap: var(--meals-cards-gap)
}

.meal-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: calc((100% - var(--meals-cards-gap)) / 2);
    height: 160px;
    background-color: var(--white);
    border-radius: 5px;
    padding: 12px;
}

.meal-card:hover {
    cursor: pointer;
    box-shadow: 0 22px 24px 0 rgba(46,51,51,.07);
}

.meal-card .description {
    height: 100%;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    gap: 13px;
    justify-content: start;
}

.meal-card .description p:first-of-type {
    line-height: 1.3rem;
    max-height: 2.6rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.meal-card img {
    width: 130px;
    height: 130px;
    object-fit: cover;
    object-position: center bottom;
    flex-shrink: 0;
    border-radius: 5px;
}

.meal-card .price-div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.popular {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: var(--orange);  
}

.popular .icon {
    margin-top: -2px;
    font-size: 20px;
}




.col-droite {
    width: 30%;
}

.cart {
    /* width: calc((1200px / 100) * 30); */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 50px; */
    background-color: var(--white);
    padding: 12px;
    border-radius: 8px;
    position: sticky;
    top: 40px;
    z-index: 2;
}

button.disabled {
    background-color: var(--disabled);
    color: var(--dark-grey);
    border: none;
    border-radius: 5px;
}

button.disabled:hover {
    cursor: not-allowed;
}

.cart button {
    width: 100%;
    padding: 16px 0;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 17px;
    font-weight: 700;
}

.cart p {
    padding: 50px 0;
}