/* -- GÉNÉRAL -------- */

/* .container {
  @apply m-auto
  max-width: var(--container-w);
  margin: auto;
} */

/* A VOIR */
/* .price {
  min-width: fit-content;
} */

/* main button:hover {
  cursor: pointer;
} */
